.git
.github
.venv
**/__pycache__
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
node_modules
client
packages
docs
*.md
.DS_Store
.editorconfig
.importlinter
lefthook.yml
Taskfile.yml
docker-compose.yml
